<footer>
    <div class="f-info mt-4">
        <div class="f-info-social">
         <i class="fa-brands fa-instagram"></i>
         <i class="fa-brands fa-linkedin-in"></i>
         <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div>&copy AirBnB Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/limited">Limited</a>
        </div>
    </div>
</footer>